<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Register Yourself</h1>
    <form action="/signup" method="post">
        <label for="firstname">FirstName: </label>
        <input type="text" name="firstname" id="firstname">

        <label for="lastname">LastName: </label>
        <input type="text" name="lastname" id="lastname">

        <label for="email">Email: </label>
        <input type="email" name="email" id="email">

        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        <button type="submit"> Signup </button>
    </form>
</body>
</html>